<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.family_history_system.mapper.EventMapper">

    <!-- 删除家族表下所有成员的全部事件 -->
    <delete id="deleteByFamilyTableId">
        delete from `system`.event
        where member_id in (select id from `system`.member where family_table_id = #{familyTableId})
    </delete>

</mapper>
